<div class="container">
    <form action="/admin/productos/create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" placeholder="imagen" name="imagen" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="nombre" placeholder="nombre" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="descripcion" placeholder="descripcion" class="form-control">
        </div>
        <div class="form-group">
            <input type="number" name="precio" placeholder="precio" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="tipo" placeholder="tipo" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>