<head>
  <style>
    body{
        background-color: rgb(255, 251, 246);
    }
</style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Iniciar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="./registro" >Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""><i class="fas fa-cart-plus"></i></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

<div class="logo"><img src="/images/logo-transparente[580].png" class="img-fluid" alt="..."></div>

 <div class="contenedor">
        <h5 style="color: #706e6e; margin-right: 15px;"><a href="./"> INICIO</a></h5>
        <div class="dropdown">
        <h5 style="margin-right: 15px;" class="dropbtn">PRODUCTOS</h5>
        <div class="dropdown-content">
        <a href="#">VARIOS</a>
        <a href="#">OFICINA</a>
        <a href="#">BOLSOS</a>
        <a href="#">PESCA</a>
        <a href="#">GOURMET</a>
        <a href="#">OUTDOOR</a>
    </div>
</div>

        <h5 style="margin-right: 15px;"><a href="./contacto">CONTACTO</a></h5>
        <h5 style="margin-right: 15px;"><a href="./redes"> REDES SOCIALES</a></h5>
    </div> 

</head>

<body>
    <form style="margin-top: 30px;" class="iniciar" action="/login" method="POST">
  <div class="mb-3">
    <label for="user" class="form-label">USUARIO</label>
    <input type="text" class="form-control" name="user">
  </div>
  <div class="mb-3">
    <label for="pass" class="form-label">CONTRASEÑA</label>
    <input type="password" class="form-control" name="pass">
  </div>
  <button type="submit" class="btn btn-primary" style="background-color: green; width:720px">INICIAR SESIÓN</button>
</form>
</body>

<div style="margin-top: 100px;" class="caja">
  <h5 style="margin-right: 70px;"><i class="fas fa-truck" style="margin-right: 5px;"></i>ENVIAMOS TU COMPRA</h5>
  <h5 style="margin-right: 70px;"><i class="fas fa-credit-card" style="margin-right: 5px;"></i>PAGÁ COMO QUIERAS</h5>
  <h5 style="margin-right: 70px;"><i class="fas fa-lock" style="margin-right: 5px;"></i>COMPRÁ CON SEGURIDAD</h5>
  <h6 style="margin-left: 30px;">Entregas a todo el país</h6>
  <h6 style="margin-left: 30px;">Tarjetas de crédito o efectivo</h6>
  <h6 style="margin-left: 30px;">Tus datos siempre protegidos</h6>
  </div>

<div style="margin-top: 100px;" class="contacto">
    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">NAVEGACIÓN</h5>
    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">MEDIOS DE PAGO</h5>
    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CONTACTANOS</h5>
    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">REDES SOCIALES</h5>
    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">SEGURIDAD Y CERTIFICACIONES</h5>
    <h6><a href="./"> Inicio</a></h6>
    <h6><i style="color: gold;" class="fas fa-money-bill-alt fa-2x"></i> <i style="color: silver;" class="far fa-credit-card fa-2x"></i></h6>
    <h6><i class="fas fa-phone-alt"></i> +54 911 3227 2283</h6>
    <h6><a href="https://www.instagram.com/ingaproductos/"><i style="color: orange;" class="fab fa-instagram-square fa-2x"></i></a>  <a href="https://www.facebook.com/ingaproductos"><i style="color: blue;" class="fab fa-facebook-square fa-2x"></i></a><a href=""> <i style="color:cyan;" class="fab fa-twitter-square fa-2x"></i></a></h6>
    <h6> <a href="https://serviciosweb.afip.gob.ar/clavefiscal/qr/publicInfoD.aspx"><i style="color:lightblue" class="fas fa-qrcode fa-2x"></i> </a></h6>
    <h6><a href=""> Productos</a> </h6>
    <h6></h6>
    <h6><i class="fas fa-at"></i> info@inga.com.ar</h6>
    <h6></h6>
    <h6></h6>
    <h6><a href="./contacto"> Contacto</a></h6>
    <h6></h6>
    <h6><i class="fas fa-map-marker-alt"></i> Av. Mitre 3027 - Munro - Buenos Aires</h6>
    <h6></h6>
    <h6></h6>
    <h6><a href="./redes">Redes Sociales</a></h6>
</div>




</div>